<body class="container-fluid card-body">
    <div class="form-row">
        <div class="col-md-6">
            <div class="card card-body">
                <div class="form-group">
                    <label>名稱</label>
                    <input type="text" class="form-control" id="Name">
                </div>
                <button type="button" class="btn btn-primary" onclick="Submit()">送出</button>
            </div>
        </div>
    </div>
</body>
<script src="../../View/Home/Index.js"></script>